#board {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px
}

.cell {
  background-color: rgba(255, 255, 255, 0.9); 
  border: 2px solid rgba(0, 123, 255, 0.8); 
  padding: 20px; 
  font-size: 1.5rem; 
  height: 20vmin;
  text-align: center;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: all 0.2s ease-in-out; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: #212529; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  cursor: pointer; 
}

#bottombar {
  height: 5vh;
}

#instructions {
  height: 5vh;
  background-color: #f8f9fa; 
  padding: 10px; 
  margin: 10px auto; 
  text-align: center;
  border: 1px solid #007bff; 
  border-radius: 5px; 
  font-size: 1rem; 
  color: #212529; 
  box-shadow: 0 2px 4px rgba(0,0,0,.1); 
  font-family: Arial, sans-serif; 
}


/* #是id选择器的前缀，适用于id="" */
#bottombar button {
  width: 50%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  font-size: 2vw
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* .是类选择器的前缀 适用于class="" */
.playable { background-color: red;}